<div [ngClass]="{'blur-sm': qrCodeUrl}" class="flex items-center justify-center h-screen background">
  <div class="flex flex-row h-5/6 w-11/12 bg-white rounded-3xl">
    <div
      class="basis-3/5 bg-peach ml-1.5 mt-1.5 mb-1.5 rounded-tl-3xl rounded-bl-3xl flex items-center justify-center relative">
      <img class="absolute bottom-2 right-10" src="assets/images/little_circle.png" alt="Example Image" height="20"
        width="20" />
      <img class="absolute bottom-12 left-10" src="assets/images/little_circle.png" alt="Example Image" height="20"
        width="20" />
      <img class="absolute bottom-60 right-60" src="assets/images/little_circle.png" alt="Example Image" height="20"
        width="20" />
      <img class="absolute bottom-80 left-10" src="assets/images/little_circle.png" alt="Example Image" height="20"
        width="20" />
      <img class="absolute top-0 left-0 rounded-tl-3xl" src="assets/images/saturn.png" alt="Example Image" height="120"
        width="120" />
      <div class="relative">
        <img class="absolute top-2 right-10" src="assets/images/little_circle.png" alt="Example Image" height="40"
          width="40" />
        <img src="assets/images/circle.png" alt="Example Image" height="300" width="300" priority />
        <img class="absolute top-12 left-5" src="assets/images/skelton.png" alt="Example Image" height="250"
          width="250" />
        <img class="absolute top-20 right-60" src="assets/images/left_msg.png" alt="Example Image" height="100"
          width="100" />
        <img class="absolute top-20 left-60" src="assets/images/right_msg.png" alt="Example Image" height="100"
          width="100" />
      </div>
      <p class="absolute bottom-10 text-darkPeach text-xl font-bold">
        Turn your ideas into reality
      </p>
    </div>
    <div class="basis-2/5">
      <ng-container *ngIf="isLogin$ | async; else signUpTemplate">
        <div class="flex flex-col h-full">
          <div class="h-4/5 flex flex-col justify-center items-center">
            <img class="mb-2 mt-2" src="assets/images/4dots.png" alt="Example Image" height="50" width="50" />
            <p class="text-CustomGray text-xl font-bold">
              Login to your Account
            </p>
            <p class="mr-5 text-CustomGray text-xs">
              See what is going on your business
            </p>
            <form [formGroup]="applyForm" (submit)="Login()">
              <div>
                <label for="username"
                  class="block mb-2 mt-5 text-sm font-medium text-gray-900 dark:text-CustomGray">Username</label>
                <input type="text" id="username" formControlName="username" aria-describedby="helper-text-explanation"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-CustomGray dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="name" (input)="onUsernameInput($event)" required />
                <div *ngIf="showValidationMessage && username?.invalid && username?.touched" class="error">
                  Username is required
                </div>
              </div>
              <div>
                <label for="password"
                  class="block mb-2 mt-5 text-sm font-medium text-gray-900 dark:text-CustomGray">Password</label>
                <input type="password" id="password" formControlName="password"
                  aria-describedby="helper-text-explanation"
                  class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-CustomGray dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="•••••••••" required />
                <div *ngIf="showValidationMessage && password?.invalid && password?.touched" class="error">
                  Password is required
                </div>
              </div>
              <div *ngIf="otpRequired">
                <label for="otp"
                  class="block mb-2 mt-5 text-sm font-medium text-gray-900 dark:text-CustomGray">OTP</label>
                <input type="text" id="otp" formControlName="otp"
                  aria-describedby="helper-text-explanation"
                  class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-CustomGray dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  />
              </div>
              <button type="submit"
                class="text-white bg-darkPeach focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-32 py-2.5 text-center dark:bg-darkPeach-600">
                Login
              </button>
            </form>
          </div>
          <div class="h-1/5 flex justify-center items-center">
            <p class="text-xs">
              Not Registered Yet?
              <a href="#" (click)="toggleForm()">
                <span class="text-darkPeach">Create an account</span>
              </a>
            </p>
          </div>
        </div>
      </ng-container>
    </div>
    <ng-template #signUpTemplate>
      <sign-up></sign-up>

    </ng-template>
  </div>
</div>

<div *ngIf="qrCodeUrl" class="absolute inset-0 flex items-center justify-center">
  <img [src]="qrCodeUrl" alt="Qr Image" class="h-96 w-96  bg-gray-300 rounded-lg shadow dark:border-gray-700"><img>
</div>
